.animate-if {
  overflow:hidden;
  height:1000px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(.42,0,.58,1) 1.0s;
  transition:all cubic-bezier(.42,0,.58,1) 1.0s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  width:0%;
  opacity:0;

}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  width:25%;
  opacity:1;
}


.base-class{
  -webkit-transition:all cubic-bezier(.42,0,.58,1) 1.0s;
  transition:all cubic-bezier(.42,0,.58,1) 1.0s;
}


.not-expand-table{
  overflow:hidden;
}
.expand-table{
  overflow:hidden;
}
