.dip-table-container{
  position:relative;
  padding:0;
}

.dip-table-header-background{

  background-color: #3A8AD3;
  height:37px;
  position:absolute;
  top:0;
  right:0;
  width:100%;

  border-top-left-radius:15px;
}
.dip-table-innner-container{

  height:auto;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
}


.dip-table{

}

.dip-table-header{

}

.dip-table-header tr th {
  height:37px;
}

.dip-table-header th div {
  position:absolute;
  top: 0;
  line-height:37px;
  color:white;

  text-align:left;
  margin-left:-8px;
  padding-left:8px;
  border-left: 1px solid black;
}

.dip-table-body{
  background-color:#FFF7DC;
}

.dip-table-body td{
  border-right: black 1px solid;
}

.dip-detail-widget{
  padding:15px;
}

.glyphicon-screenshot{
  float:right;
  color:red;
}
.glyphicon-screenshot:hover{

  -webkit-transition:all cubic-bezier(.42,0,.58,1) 0.5s;
  transition:all cubic-bezier(.42,0,.58,1) 0.5s;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  color:#47B0D4;
}


.detail-edit{
  margin-top:31px;
  background-color:white;
  border:1px black solid;
  text-align:center;
  border-radius:0px;
}

.detail-edit:hover{
  border:1px white solid;
  background-color:black;
  color:white;
}

.detail-create{
  display:inline;
  margin-left:5px;
}

.detail-create:hover{
  -webkit-transition:all cubic-bezier(.42,0,.58,1) 0.5s;
  transition:all cubic-bezier(.42,0,.58,1) 0.5s;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  color: #47B0D4
}

.detail-delete{
  width:15px;
  height:16px;
  padding:0;
  margin-left:5px;
  margin-top:15px;
}

.detail-delete:hover{
  color: red
}

.dip-controlgraph-option:hover{
  color:white;
  background-color:#2563AB;
}
