<div class="modal-header">
  <h3 class="modal-title">Create</h3>
</div>
<div class="modal-body">
  <ul>
    <li>
      <b>Field Name :</b> <input type= "text" ng-model = "fieldname"></input>
    </li>
    <li>
      <b>Field Value :</b> <input type= "text" ng-model = "fieldvalue"></input>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createDetailDone()">OK</button>
  <button class="btn btn-warning" ng-click="cancelCreateDetail()">Cancel</button>
</div>
