
<snap-drawers style = "margin-top:70px">
	<snap-drawer-left>
		<div class="two-left-list">
		<div class="controls">
  				<div class="panel panel-default">
    				<div class="panel-heading">
      					<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
          					Properties
        				</a>
      					</h4>
    				</div>
    				<div id="collapseOne" class="panel-collapse collapse out">
      					<div class="panel-body" style="margin:10px">

					      	<table class="tftable" border="0">
					    		<tr>
					                <td align="left">
					                	<label>Title</label>
					                	<input class="form-control" ng-model="chartConfig.title.text">
					                </td>
								<tr><td>&nbsp;&nbsp;</td></tr>
					                <td align="left">
					                	<label>Subtitle</label>
					                	<input class="form-control" ng-model="chartConfig.subtitle.text">
					                </td>
					            </tr>
					            <tr><td>&nbsp;&nbsp;</td></tr>
					            <tr>
					            	<td align="left">
					            		<label>Default Type</label>
					               		<select class="form-control" ng-model="chartConfig.options.chart.type" ng-options="t.id as t.title for t in chartTypes"></select>
					            	</td>
					            </tr><tr>
					            	<td align="left">
					            		<label>Stack</label>
					                	<select class="form-control" ng-model="chartConfig.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack"></select>
					            	</td>
					            </tr>
					        </table>

      					</div>
    				</div>
  				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading">
      					<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
          					Data
        				</a>
      					</h4>
    				</div>
    				<div id="collapseTwo" class="panel-collapse collapse out">
      					<div class="panel-body">
      						<input type="text" ng-model="search" placeholder="Search below items" style='margin-left:10px; margin-top:10px;'/>
							<br>
							<div class="btn btn-droppable" ng-repeat="item in list3 | filter : search " data-drop="true" ng-model='list3' jqyoui-droppable="{index: {{$index}}, applyFilter: 'filterIt'}">
							<div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:true, applyFilter: 'filterIt', onStart:'startCallback(item, $index)'}" ng-hide="!item.id">
							<span class="one">{{item.id}}</span>
							<span class="two">{{item.site}}</span>
							<span class="three">{{item.area}}</span></div>
							</div>
      					</div>
    				</div>
  				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading">
      					<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
          					Series
        				</a>
      					</h4>
    				</div>
    				<div id="collapseThree" class="panel-collapse collapse out">
      					<div class="panel-body" style="margin:1px">
							<div ng-repeat="ser in chartSeries">
					        	<div class="well">
									<table class="tftable" border="0">
					    				<tr>
					                		<td align="left">
					                			Label
												<input class="form-control" ng-model="ser.name">
											</td>
										</tr>

										<tr>
											<td align="left">
												Type
												<select class="form-control" ng-model="ser.type" ng-options="t.id as t.title for t in chartTypes"></select>
											</td>
										</tr>
										<tr>
											<td align="left">
												Color
												<input class="form-control" ng-model="ser.color">
											</td>
										</tr>
										<tr>
											<td align="left">
												Width
												<input class="form-control" ng-model="ser.lineWidth">
											</td>
										</tr>
										<tr>
											<td align="left">
												Dash Style
												<select class="form-control" ng-model="ser.dashStyle" ng-options="ds.id as ds.title for ds in dashStyles"></select>
											</td>
										</tr>
										<tr>
											<td align="left">
												<label>interpolate</label>
												<input type="checkbox" ng-model="ser.connectNulls">
											</td>
										</tr>
										<tr>
											<td align="left">
												<button ng-click="removeSeries($index)">Delete</button>
											</td>
										</tr>
									</table>
								</div>
							</div>
      					</div>
    				</div>
  				</div>


		</div>
		</div>
	</snap-drawer-left>
</snap-drawers>

<snap-content style = "margin-top:70px">
<button style="float:left;" snap-toggle="left"><i class="glyphicon glyphicon-hand-left"></i></button>


	<div style="width:90%; margin-left:auto; margin-right:auto; padding-top:40px; height:600px;" class="row">
		<div class="span8">


			<div class="row">
				<div class="thumbnail" data-drop="true" ng-model='list1' data-jqyoui-options="{revert: 'invalid'}" jqyoui-droppable="{multiple:true, onStart:'startCallback(item, $index)', onDrop:'addSeries',onOver: 'overCallback', onOut: 'outCallback'}" >
					<highchart style="height:600px;" id="chart1" config="chartConfig" class="span8" ></highchart>
				</div>
			</div>

			<div class="row-fluid">
				<label for="prettyJSON"><input id="prettyJSON" type="checkbox" ng-model="prettyJSON"> Pretty JSON</label>
			</div>
			<div class="row-fluid">
				<pre ng-show="prettyJSON">
					{{ chartConfig | json }}
				</pre>
                <pre ng-show="!prettyJSON">
					{{ chartConfig }}
				</pre>
			</div>
			<b>{{message}}</b>
		</div>
	</div>



</snap-content>
